.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(1.5em, .8em) scale(1) !important;
}

.plant-protection {
    margin-top: 5em;
    .plant-protection-title {
        width: 100%;
        p {
            font-size: 1.75em;
            font-weight: bold;
        }
    }

    .plant-protection-select-form {
        margin-bottom: 1em;
        .plant-protection-select {
            width: 20em;
            height: 3em;
        }
    
        .select-label {
            background-color: #ffffff;
        }
    }
}