.transaction-item {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-color: #c8c8c8 !important;

    .content-table {
        font-weight: bold;
    }

    .stt-content {
        width: 2rem;
    }

    .no-transaction-content {
        width: 10rem;
    }

    .name-product-content {
        width: 15rem;
    }

    .date-transaction-content {
        width: 10rem;
    }

    .status-content {
        width: 7rem;
    }

    .control-content {
        width: 7rem;

        .btn-circle {
            padding: 7px 12px;
            border-radius: 50%;
            border: 0;
            background-color: #ffffff;
            transition: 0.2s all ease;
        }

        .btn-circle:hover {
            background-color: #efefef;
        }
    }
}

.main-container {
    .row-start {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
    }

    .row-between {
        border-top: 1px solid;
        border-left: 1px solid;
        border-right: 1px solid;
    }

    .row-end {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid;
    }
}


@media screen and (max-width: 900px) {
    .transaction-item {
        .date-transaction-content {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .transaction-item {
        .status-content {
            display: none;
        }
    }
}

@media screen and (max-width: 650px) {
    .transaction-item {
        .no-transaction-content {
            display: none;
        }
    }
}