.product-detail-wrapper {
    width: 100%;
    .product-detail-header {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        position: fixed;
        background-color: #ffffff;
        z-index: 10;
        i {
            display: block;
            font-size: 2rem;
            font-weight: bold;
            padding: 0;
        }

        p {
            padding-left: 1rem;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
        }
    }

    .product-body {
        width: 100%;
        position: relative;
        top: 4rem;
        .product-image {
            width: 100%;
            height: 25rem;
            overflow: hidden;
            position: absolute;
            z-index: -10;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent, white);
            }
        }
        .product-content {
            position: absolute;
            top: 6rem;
            left: 0;
            width: 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    .product-detail-wrapper {
        width: 100%;
        .product-detail-header {
            i, p {
                font-size: 1.5rem;
            }
        }
    }
}