.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    transform: translate(1.5rem, .8rem) scale(1) !important;
}

.paddy-fertilizer {

    .paddy-fertilizer-title {
        width: 100%;
        p {
            font-size: 1.75rem;
            font-weight: bold;
        }
    }

    .paddy-fertilizer-select-form {
        margin-bottom: 1rem;
        .paddy-fertilizer-select {
            width: 20rem;
            height: 3rem;
        }
    
        .select-label {
            background-color: #ffffff;
            //
        }
    }
}