.product-detail {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    border-top: .15rem solid #cecece;
    padding-top: 3rem;

    > .title {
        width: 100%;
        text-align: center;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
    }

    .generate {

        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .generate-item-wrapper {
            width: 100%;
            box-shadow: 0 .1em .2rem .05rem #cecece;
            margin-bottom: 1rem;
            border-radius: .25rem;
            .generate-detail-item {
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: .1rem solid #dfdfdf;
                transition: background-color .5s;
                cursor: pointer;
                .generate-col {
                    margin-left: 1.5rem;
                    font-size: 1.25rem;
                    i {
                        margin-right: 1.5rem;
                    }
                    span {
                        font-weight: bold;
                     }
                }
    
                 > i {
                     margin-right: 1.5rem;
                     font-size: 1.25rem;
                     transition: .5s;
                 }
            }
    
            .generate-detail-item:hover {
                background-color: #efefef;
            }

            .detail-content {
                width: 100%;
                padding: 0 4.3rem;
                p {
                    max-width: 100%;
                    margin: 1rem 0;
                    font-weight: bold;
                    font-size: 1.1rem;
                    span {
                        color: #8e8e8e;
                    }
                }

                .activity-date-select {
                    width: 15rem;
                    margin-top: 2rem;
                }

                .activity-detail {
                    margin-top: 1rem;
                }
            }

            .detail-content-flex {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                p {
                    min-width: 30rem;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    
    .product-detail {
        .detail-content {
            width: 100%;
            padding: 0 2rem !important;
        }
    }
}