.menu-component {
    width: 25rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 20px #efefef;

    ::-webkit-scrollbar {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .logo-app {
        width: 270px;
        height: 7rem;
        display: flex;
        align-items: center;
        margin-top: 3rem;

        .img-logo-menu {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        .text-menu {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 5px;
        }
    }

    .logo-menu {
        width: 270px;
        height: 7rem;
        display: flex;
        align-items: center;

        .icon-menu {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            transition: 0.2s all ease;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1.5rem;
            margin-right: 1rem;

            i {
                font-size: 25px;
            }
        }

        .text-menu {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .icon-menu:hover {
            background-color: #efefef;
            cursor: pointer;
        }
    }

    .item-function {
        width: 95%;
        margin: 0 auto;
        border-radius: 5px;
        height: 4rem;
        transition: 0.2s all ease;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        overflow-y: hidden;

        .text-function {
            overflow-x: hidden;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
        }

        .custom-icon {
            font-size: 20px;
            margin-left: 2rem;
            margin-right: 1rem;
        }
    }

    .item-function:hover {
        background-color: #d3d3d3;
        cursor: pointer;
    }

    .active {
        background-color: #efefef;
    }

    .bottom-item {
        margin-top: auto;
        margin-bottom: 1rem;
    }
}

.menu-component::-webkit-scrollbar {
    display: none;
}

.hide-menu-component {
    width: 1.5rem;
    height: 4rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 0 20px #efefef;

    .hide-icon {
        line-height: 4rem;
        font-size: 25px;
        margin-left: 0.3rem;
    }
}

.hide-menu {
    width: 5rem;

    a {
        text-decoration: none;
    }

    .logo-menu {
        width: 100%;
        .icon-menu {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            transition: 0.2s all ease;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            margin-right: 0;

            i {
                font-size: 25px;
            }
        }
        .text-menu {
            display: none;
        }
    }

    .item-function {

        .text-function {
            display: none;
        }

        .custom-icon {
            margin-left: 1.7rem;
        }
    }
}